@{
    ViewData["Title"] = "Account Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Inzynierka.Models.User currentUser = (Inzynierka.Models.User)ViewData["User"];
}

<body>
    <div class="container text-center">
        <p>Nazwa Użytkownika: 
            <span> @currentUser.Username </span>
        </p>

        <p>Email: 
            <span> @currentUser.Email </span> 
        </p> 

        <p>Numer Telefonu: 
            <span> @currentUser.Phone </span>
        </p> 
        <!--Worker view-->
        @if (currentUser.Privilage == 2){
            <p>
                Przypisane Firmy: -
                @foreach (Company comp in (List<Company>)ViewData["Companies"])
                {
                    <span>@comp.Name - </span>
                }
            </p>
        }

        <!--Owner view-->
        @if(currentUser.Privilage == 0){
            <!--Tylko dla właścicieli Firm-->
            <p>Moje Firmy: -
                @foreach (Company comp in (List<Company>)ViewData["Companies"])
                {
                    <span>@comp.Name | </span>
                }
                - 
            </p>
        }

        <p>Data Utworzenia Konta:
            <span> @currentUser.CreationDate </span>
        </p>
        
    </div>
</body>