@using Inzynierka.Models.ViewModels
@model List<InvoiceData>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <table>

        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Seller Data</th>
            <th>Buyer Data</th>
            <th>Payment Method</th>
            <th>Payment date</th>
            <th>Includes Delivery</th>
            <th>Price</th>
            <th scope="col">Products</th>
            <th>PDF</th>
            <th>XPS</th>
        </tr>
    
    @foreach (InvoiceData data in Model)
    {
        <tr>
            <td>@data.InvoiceInfo.Name</td>
            <td>@data.InvoiceInfo.Number</td>
            <td>@data.InvoiceInfo.SellerName</td>
            <td>@data.InvoiceInfo.BuyerName</td>
            <td>@data.InvoiceInfo.PaymentMethod</td>
            <td>@data.InvoiceInfo.PaymentDate</td>
            <td>@data.InvoiceInfo.IncludesDelivery</td>
            <td>@data.ProductListInfo.TotalPostDiscountValue</td>
            <td>
                @foreach(Product product in data.ProductsInfo){
                    <p>@product.Name, w ilości @product.Quantity : @product.TotalValue,</p>
                }
            </td>
            <td>
                <form asp-action="ExportInvoiceAsPDF" asp-controller="Invoice" method="post">
                    <input type="number" value="@data.InvoiceInfo.ID" name="InvoiceID" hidden>
                    <input type="submit" value="PDF">
                </form>
            </td>
            <td>
                <form asp-action="ExportInvoiceAsXPS" asp-controller="Invoice" method="post">
                    <input type="number" value="@data.InvoiceInfo.ID" name="InvoiceID" hidden>
                    <input type="submit" value="XPS">
                </form>
            </td>
        </tr>
    }
    </table>
</div>