@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Company? company = ViewData["Company"] as Company ?? null;
}

<div class="container text-center">
    @if(company == null){
        <h3>Something went wrong...</h3>
    } else {
    <h5>Dodaj Nową Firme</h5>
    <from>
        <form asp-action="CreateCompany" asp-controller="Company" method="post">
            <label for="companyName">Company Name:</label>
            <input type="text" name="companyName" required>

            <label for="companyOwnerName">Owner Name:</label>
            <input type="text" name="companyOwnerName" required>

            <label for="companyPostalCode">Postal Code:</label>
            <input type="text" name="companyPostalCode" required>

            <label for="companyCity">City:</label>
            <input type="text" name="companyCity" required>

            <label for="companyProvince">Province:</label>
            <input type="text" name="companyProvince">

            <label for="companyStreet">Street:</label>
            <input type="text" name="companyStreet" required>

            <label for="companyLocaleNumber">Locale Number:</label>
            <input type="text" name="companyLocaleNumber" required>

            <label for="companyContactNumber">Client Contact Number:</label>
            <input type="text" name="companyContactNumber" required>

            <label for="companyontactMail">Client Mail:</label>
            <input type="text" name="companyContactMail" required>

            <label for="companyNIP">NIP:</label>
            <input type="text" name="companyNIP" required>

            <label for="companyBankName">Bank Name:</label>
            <input type="text" name="companyBankName" required>

            <label for="companyBankAccountNumber">Bank Account Number:</label>
            <input type="text" name="companyBankAccountNumber" required>
                <br><br>

            <input type="submit" value="Dodaj Firme">
        </form>
    </from> <hr />

    <h5>Modyfikuj Dane Firmy - <b>@company.Name</b> </h5>
        <form asp-action="UpdateCompany" asp-controller="Company" method="post">
            <input type="number" value=@company.ID name="companyId" id="CompanyId" hidden>

            <label for="companyName">Company Name:</label>
            <input type="text" name="companyName" placeholder="Nowa Nazwa Firmy">
            <span>|  Obecnie: @company.Name</span>

            <label for="companyOwnerName">Owner Name:</label>
            <input type="text" name="companyOwnerName" placeholder="Imie i Nazwisko Nowego Właściciela">
            <span>|  Obecnie: @company.OwnerName</span>

            <label for="companyPostalCode">Postal Code:</label>
            <input type="text" name="companyPostalCode" placeholder="Nowy Kod Pocztowy">
            <span>|  Obecnie: @company.PostalCode</span>

            <label for="companyCity">City:</label>
            <input type="text" name="companyCity" placeholder="Nowe Miasto">
            <span>|  Obecnie: @company.City</span>

            <label for="companyProvince">Province:</label>
            <input type="text" name="companyProvince" placeholder="Nowa Dzielnica (Opcjonalne)">\
            <span>|  Obecnie: @company.Province</span>

            <label for="companyStreet">Street:</label>
            <input type="text" name="companyStreet" placeholder="Nowa Ulica">
            <span>|  Obecnie: @company.Street</span>

            <label for="companyLocaleNumber">Locale Number:</label>
            <input type="text" name="companyLocalNumber" placeholder="Nowy Numer Lokalu">
            <span>|  Obecnie: @company.LocalNumber</span>

            <label for="companyNIP">NIP:</label>
            <input type="text" name="companyNIP" placeholder="Nowy NIP">
            <span>|  Obecnie: @company.NIP</span><br><br>

            <input type="submit" value="Modyfikuj Firme">
        </form>
    <hr />

    <h5>Usuń Firmę - <b>@company.Name</b> </h5>
    <from>
        <form asp-action="DeleteCompany" asp-controller="Company" method="post">
            <h6>Firma która ulegnie usunięciu: <b><h5>@company.Name</h5></b> </h6>
            <input type="number" value=@company.ID name="companyId" id="CompanyId" hidden>
            <input type="submit" value="Usuń Firme" style="background-color: red; color: navajowhite;">
        </form>
    </from>
    }
    
</div>
    @if (companies != null && companies.Count > 0 && privilages >= 0)
    {
        <select name="Companies" id="Companies">
            <option value="" disabled selected>Wybierz firmę</option>
            @foreach (var company1 in companies)
            {
                <option value="@company1.ID">@company1.Name</option>
            }
        </select>
        <br />

        <form asp-action="CompanyData" asp-controller="Company" method="post">
            <input type="number" value="" name="CompanyId" id="CompanyId" hidden>
            <input type="submit" value="Zarządzaj Swoimi Firmami">
        </form>

        <form asp-action="ClientData" asp-controller="Client" method="post">
            <input type="number" value="" name="CompanyId" id="CompanyId" hidden>
            <input type="submit" value="Zarządzaj Klientami">
        </form>

        <form asp-action="InvoiceData" asp-controller="Invoice" method="post">
            <input type="number" value="" name="CompanyId" id="CompanyId" hidden>
            <input type="submit" value="Zarządzaj Fakturami">
        </form>

        @if (privilages >= 1)
        {
            <form asp-action="WorkerData" asp-controller="Worker" method="post">
                <input type="number" value="" name="CompanyId" id="CompanyId" hidden>
                <input type="submit" value="Zarządzaj Pracownikami">
            </form>
        }


        <form asp-action="Logs" asp-controller="Company" method="post">
            <input type="number" value="" name="CompanyId" id="CompanyId" hidden>
            <input type="submit" value="Zobacz Historie Aktywności Firmy">
        </form>
    }


@section Scripts
    {
    <script type="text/javascript">
        var formCompanyIdInputs = document.querySelectorAll("#CompanyId");


        var companiesSelect = document.querySelector("#Companies");

        console.log('Start');
        console.log(companiesSelect.value);

        companiesSelect.addEventListener('change', function () {
            console.log('Select event, value: ' + companiesSelect.value);
            localStorage.setItem("selectedCompany", companiesSelect.value)


            formCompanyIdInputs.forEach(function (item) {
                item.value = companiesSelect.value;
            });
        });

        formCompanyIdInputs.forEach(function (item) {
            console.log(companiesSelect.value);
            item.value = companiesSelect.value;

        });

    </script>
}
</div>
